<h1 class="heading -large">{{ home.title }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span>
</h3>
<a ng-click="home.alert()">asdfasdf</a>
<div>
	<img src="images/angular.png" height="100"/>
	<img src="images/gulp.png" height="100"/>
	<img src="images/browserify.png" height="100"/>
</div>
<div class="example">
	Images from sprite go here:
	<div class="gulp"></div>
	<div class="browserify"></div>
	<div class="angular"></div>
</div>